__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.md
.env
venv/
env/
*.log
.DS_Store
*.png
*.jpg
*.jpeg
!0.png
data_preprocessing.ipynb
handwritten-prescription-classification.ipynb

